.formulario{
	float:left;
	width: 50%;
	margin-top: 10px;
	color:#999;
}

.formu-ti{
	margin: 30px 30px;
	text-align: left;
	color:black;
	font-family: sans-serif;
}

.caja-1{
	width: 577px;
	height: 40px;
	margin: 20px 20px;
	padding: 10px;
	font-size: 14px;
	background: #E0E0E0;
}

.datos{
	float: right;
	width: 25%;
	margin: auto;
	color:#999;
}

.datos-contacto{
	list-style:none;
	text-align: center;
	font-family: sans-serif;
}

.datos-contacto li{
	color: #444;
	padding-bottom: 6px;
}

.datos-contacto li i{
	color: blue;
	margin-top: 20px;
	font-size: 70px;
}
